@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500;600&display=swap');
/* font-family: 'Yanone Kaffeesatz', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500&display=swap');
/* font-family: 'Barlow Semi Condensed', sans-serif; */

/* 
Rouge : #A61120
Blanc : #FFFFFF
Gris : #D7D7C1  
*/

#particles-js{
    width: 100%;
    height: 600px;
    background: #1F1F1F;
}

/* header */
header{
    height: 80%;
}

/* photo de profil */
nav div.profil img{
    width: 90px;
    clip-path: ellipse(50% 50%);
    margin-top: 10px;
}

/* nav bar */
nav i.burger{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 20px;
}

nav a{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-right: 10px;
    color: #fff;
}

nav a:hover{
    color: rgba(255, 255, 255, 0.7);
}

/* contenu texte du header */
header h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 80px;
    font-weight: 100;
    color: #fff;
}

header h1{
    color: #A61120;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 80px;
    font-weight: 600;
}

header h3{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

section.name{
    position: absolute;
    margin-left: 150px;
    margin-top: 100px;
}


/* typing animation   */
.typing-demo {
    width: 23ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #fff;
    font-family: monospace;
    font-size: 2em;
}
  
@keyframes typing{
    from {
      width: 0
    }
}
      
@keyframes blink{
    50% {
      border-color: transparent
    }
}


/* main  */
main{
    padding-top: 100px;
}

main p{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

main h2{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 25px;
}

/* skills section  */
section.competences{
    padding-top: 100px;
}

section.competences div.container h2{
    margin-bottom: 35px;
}

section.competences i{
    font-size: 40px;
    padding-bottom: 10px;
}

div.technologies{
    display: flex;
    justify-content: space-around;
}

div.tech{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

/* project section */
section.projets{
    padding-top: 100px;
    padding-bottom: 100px;
}

section.projets div.card{
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

section.projets .btn{
    background-color: #A61120;
    border-color: #A61120;
}


/* footer */
footer{
    background-color: #1F1F1F;
    color: #fff;
    padding-top: 30px;
}

footer h2{
    padding-bottom: 30px;
}

address{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 50px;
}

address div.liens{
    padding-bottom: 20px;
}

address div.liens:last-child{
    padding-bottom: 50px;
}

address div.liens a{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
}

address div.liens a:visited{
    color: #fff;
}




/* responsive  */
/* Phone version */
@media (max-width:768px) {
    nav div.profil img{
        display: none;
    }

    /* nav  */
    div.nav-bar{
        display: none;
    }
    nav i.burger{
        display: block;
        color: #fff;
        font-size: 40px;
        position: absolute;
        right: 15px;
        top: 5px;
    }

/* header */
    header h2{
        position: relative;
        font-size: 40px;
    }
    header h1{
        font-size: 60px;
        text-align: left;
    }

    section.name{
        margin-left: 20px;
    }

/* competences */
    div.technologies{
        flex-direction: column;
        gap: 30px;
    }

    /* Projets */
    section.projets div.container div.row{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }


}

/* tablet version */
@media (max-width: 992px) {
    section.projets div.container div.row{
        align-items: flex-start;
        flex-direction: column;
        gap: 25px;
    }
}